<div class="welcome-dialog-container" [ngClass]="{'shake': shakeIt}">
  <form [formGroup]="form">
    <h3>Welcome to <strong>StratPlus</strong> chat</h3>
    <div class="avatar-container">
      <ngx-avatar [name]="form.get('nickname')?.value"></ngx-avatar>
    </div>
    <mat-form-field appearance="outline">
      <input matInput placeholder="Type a nickname" formControlName="nickname">
      <mat-label>nickname</mat-label>
      <mat-hint>8 characters at least</mat-hint>
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="signIn()" [disabled]="form.invalid" class="join-btn">join to chat</button>
  </form>
</div>

