<form [formGroup]="form" class="chat-input-field-container">
    <mat-form-field appearance="outline" [ngClass]="{'shake': shakeIt}">
      <input
        matInput
        placeholder="Type a message" (keyup.enter)="onEnter()" (keyup)="onTyping()"
        formControlName="message"
        autocomplete="off"
      >
    </mat-form-field>
    <div class="chat-actions-container">
      <button mat-fab color="primary" (click)="send()">
        <mat-icon>send</mat-icon>
      </button>
    </div>
</form>
